<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dndKillList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCAF41141D9A220300B74B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCAF412B1D9A220500B74B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCAF41361D9A220600B74B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
